html {
    scroll-behavior: smooth;
    margin: 0;
}

body {
    background: radial-gradient(rgb(172, 172, 172),rgb(77, 77, 77));
    margin: 0;
}

header {
    height: 128px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid black;
    background-color: rgb(131, 131, 131);
    position: relative;
}

header img {
    height: 64px;
    width: 64px;
    margin-left: 32px;
}

main {
    height: 100%;
    object-fit: contain;
}

footer {
    height: 128px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 2px solid black;
}

footer img {
    height: 64px;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 16px;
}