html {
    scroll-behavior: smooth;
    margin: 0;
}

body {
    background: radial-gradient(rgb(205 205 205)50%,rgb(77, 77, 77));
    margin: 0;
    min-height: 100vh;
    max-width: 100%;
}

/* body > * {
    max-width: calc(100% - (100vw - 1440px));
    margin-left: auto;
    margin-right: auto;
    width: 100%;
} */

header {
    height: 128px;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(2px 4px 6px black);
    background-color: rgb(205 205 205);
    position: relative;
    border-bottom: 4px solid rgba(0, 0, 0, 0.9);
}


/* RAINBOW BORDER ANIMATION */

/* header {
    border-bottom: 4px solid rgba(255, 0, 0, 1);
    animation: rainbow 5s linear infinite;
}

@keyframes rainbow {
    0% { border-bottom-color: red; }
    14% { border-bottom-color: orange; }
    28% { border-bottom-color: yellow; }
    42% { border-bottom-color:  green; }
    57% { border-bottom-color: blue; }
    71% { border-bottom-color:  indigo; }
    85% { border-bottom-color: violet; }
    100% { border-bottom-color: red; }
} */


/* Floating Cards animation */

.pokemon_card_container {
    /* Basic styling for the card */
    width: 200px;
    height: 300px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    /* Positioning for the floating effect */
    position: relative;
    /* Transition for smooth movement */
    transition: transform 0.3s ease;
    
    /* Animation for floating effect */
    animation: float 5s ease-in-out infinite;
}

.pokemon_card_container:hover {
    /* Wiggle effect on hover */
    animation: wiggle 0.3s infinite;
    /* Stop the floating animation */
    animation-play-state: paused;
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes wiggle {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(1deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(-1deg); }
    100% { transform: rotate(0deg); }
}

.header_section {
    max-width: calc(100% - (100vw - 1440px));
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

main {
    height: 100%;
    object-fit: contain;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    height: 128px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 2px solid rgba(121, 121, 121, 0.9);
    filter: drop-shadow(2px 4px 6px black);
    background-color: rgb(205 205 205);
    /* position: fixed;
    left: 0;
    right: 0;
    bottom: 0; */
}

footer img {
    height: 64px;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 16px;
}