#content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 32px 64px;
    max-width: calc(100% - (100vw - 1440px));
    min-height: 100vh;
    width: 100%;
}

#suggestions p {
    background-color: white;
    overflow-y: auto;
    padding: 0;
    margin: 0;
    max-width: 180px;
}

#suggestions p:hover {
    cursor: pointer;
}

.pokemon_card {
    /* height: 256px; */
    width: 200px;
    background-color: rgba(250, 250, 250, 0.9);
    margin: 8px 16px;
    border-radius: 8px;
    border: 2px solid rgb(78 78 78);
    filter: drop-shadow(6px 6px 3px black);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.pokemon_card:hover {
    transform: scale(1.05);
}

.card_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-image: linear-gradient(45deg, rgb(156, 156, 156), rgba(225, 225, 225, 0.9)); */
    background-image: linear-gradient(45deg, rgba(225, 225, 225, 1.9), rgb(192, 178, 182) 61%, rgba(225, 225, 225, 0.9));
    filter: drop-shadow(4px 4px 2px black);
    height: 32px;
    margin-top: 8px;
    border-radius: 4px 12px 4px 12px;
    width: 180px;
}

.card_header h2 {
    padding-right: 12px;
}

.card_id {
    color: white;
    margin: 4px 0px 4px 12px;
    background-image: radial-gradient(#e7e7e7, rgba(0, 0, 0, 0.5) 60%);
    border-radius: 17px;
    padding: 1px 6px 1px 6px;
    width: 18px;
    height: 24px;
    text-align: center;
    border: 1px solid black;
}

.card_name {
    font-weight: 600;
    font-size: 20px;
    padding: 0;
    margin: 0;
    color: white;
    filter: drop-shadow(2px 3px 1px black);
}

.card_display {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px 16px;
    border-radius: 8px;
    border: 4px inset black;
    width: 80%;
    /* background-image: radial-gradient(rgba(93, 255, 60, 0.9), rgba(85, 148, 34, 0.9)); */
}

.card_display img {
    height: 96px;
    filter: drop-shadow(2px 4px 6px black);
    padding-bottom: 8px;
}

.card_body {
    border: 3px inset black;
    border-radius: 4px 12px 4px 12px;
    margin: 4px 16px;
    width: 180px;
    background-image: radial-gradient(white 62%, lightgray);
}
.card_body p {
    margin: 4px 8px;
}


.pokeball_img {
    height: 80px;
    width: 94px;
    margin-left: 32px;
    filter: drop-shadow(2px 4px 6px black);
}

.pokedex_text_img {
    width: 170px;
    margin: 0;
    filter: none;
}