#content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 32px 64px;
    max-width: calc(100% - (100vw - 1440px));
    min-height: 100vh;
    width: 100%;
}

.header_btn_left {
    border: 2px outset black;
    height: 100%;
    border-radius: 50px 0 0 50px;
}

.header_btn_bug {
    border: 2px outset black;
    border-radius: 14px 0 0 0;
    height: 100%;
    width: 32px;
    margin: 0;
    padding: 0;
    background-color: rgb(168, 184, 32);
}

.header_btn_bug img {
    height: 20px;
    width: 20px;
    margin: 6px;
}

.header_btn_bug:hover {
    cursor: pointer;
    transform: scale(0.95);
}

.header_btn_dark {
    border: 2px outset black;
    height: 100%;
    width: 32px;
    margin: 0;
    padding: 0;
    background-color: rgb(112, 88, 72);
}

.header_btn_dark img {
    height: 20px;
    width: 20px;
    margin: 6px;
}

.header_btn_dark:hover {
    cursor: pointer;
    transform: scale(0.95);
}

.header_btn_dragon {
    border: 2px outset black;
    height: 100%;
    width: 32px;
    margin: 0;
    padding: 0;
    background-color: rgb(112, 56, 248);
}

.header_btn_dragon img {
    height: 20px;
    width: 20px;
    margin: 6px;
}

.header_btn_dragon:hover {
    cursor: pointer;
    transform: scale(0.95);
}

.header_btn_electric {
    border: 2px outset black;
    height: 100%;
    width: 32px;
    margin: 0;
    padding: 0;
    background-color: rgb(248, 208, 48);
}

.header_btn_electric img {
    height: 20px;
    width: 20px;
    margin: 6px;
}

.header_btn_electric:hover {
    cursor: pointer;
    transform: scale(0.95);
}

.header_btn_fairy {
    border: 2px outset black;
    height: 100%;
    width: 32px;
    margin: 0;
    padding: 0;
    background-color: rgb(238, 153, 172);
}

.header_btn_fairy img {
    height: 20px;
    width: 20px;
    margin: 6px;
}

.header_btn_fairy:hover {
    cursor: pointer;
    transform: scale(0.95);
}

.header_btn_fighting {
    border: 2px outset black;
    height: 100%;
    width: 32px;
    margin: 0;
    padding: 0;
    background-color: rgb(192, 48, 40);
}

.header_btn_fighting img {
    height: 20px;
    width: 20px;
    margin: 6px;
}

.header_btn_fighting:hover {
    cursor: pointer;
    transform: scale(0.95);
}

.header_btn_fire {
    border: 2px outset black;
    height: 100%;
    width: 32px;
    margin: 0;
    padding: 0;
    background-color: rgb(240, 128, 48);
}

.header_btn_fire img {
    height: 20px;
    width: 20px;
    margin: 6px;
}

.header_btn_fire:hover {
    cursor: pointer;
    transform: scale(0.95);
}

.header_btn_flying {
    border: 2px outset black;
    height: 100%;
    width: 32px;
    margin: 0;
    padding: 0;
    background-color: rgb(168, 144, 240);
}

.header_btn_flying img {
    height: 20px;
    width: 20px;
    margin: 6px;
}

.header_btn_flying:hover {
    cursor: pointer;
    transform: scale(0.95);
}

.header_btn_ghost {
    border: 2px outset black;
    border-radius: 0 14px 0 0 ;
    height: 100%;
    width: 32px;
    margin: 0;
    padding: 0;
    background-color: rgb(112, 88, 152);
}

.header_btn_ghost img {
    height: 20px;
    width: 20px;
    margin: 6px;
}

.header_btn_ghost:hover {
    cursor: pointer;
    transform: scale(0.95);
}

.header_btn_grass {
    border: 2px outset black;
    border-radius: 0 0 0 14px;
    height: 100%;
    width: 32px;
    margin: 0;
    padding: 0;
    background-color: rgb(120, 200, 80);
}

.header_btn_grass img {
    height: 20px;
    width: 20px;
    margin: 6px;
}

.header_btn_grass:hover {
    cursor: pointer;
    transform: scale(0.95);
}

.header_btn_ground {
    border: 2px outset black;
    height: 100%;
    width: 32px;
    margin: 0;
    padding: 0;
    background-color: rgb(224, 192, 104);
}

.header_btn_ground img {
    height: 20px;
    width: 20px;
    margin: 6px;
}

.header_btn_ground:hover {
    cursor: pointer;
    transform: scale(0.95);
}

.header_btn_ice {
    border: 2px outset black;
    height: 100%;
    width: 32px;
    margin: 0;
    padding: 0;
    background-color: rgb(152, 216, 216);
}

.header_btn_ice img {
    height: 20px;
    width: 20px;
    margin: 6px;
}

.header_btn_ice:hover {
    cursor: pointer;
    transform: scale(0.95);
}

.header_btn_normal {
    border: 2px outset black;
    height: 100%;
    width: 32px;
    margin: 0;
    padding: 0;
    background-color: rgb(168, 168, 120);
}

.header_btn_normal img {
    height: 20px;
    width: 20px;
    margin: 6px;
}

.header_btn_normal:hover {
    cursor: pointer;
    transform: scale(0.95);
}

.header_btn_poison {
    border: 2px outset black;
    height: 100%;
    width: 32px;
    margin: 0;
    padding: 0;
    background-color: rgb(160, 64, 160);
}

.header_btn_poison img {
    height: 20px;
    width: 20px;
    margin: 6px;
}

.header_btn_poison:hover {
    cursor: pointer;
    transform: scale(0.95);
}

.header_btn_psychic {
    border: 2px outset black;
    height: 100%;
    width: 32px;
    margin: 0;
    padding: 0;
    background-color: rgb(248, 88, 136);
}

.header_btn_psychic img {
    height: 20px;
    width: 20px;
    margin: 6px;
}

.header_btn_psychic:hover {
    cursor: pointer;
    transform: scale(0.95);
}

.header_btn_rock {
    border: 2px outset black;
    height: 100%;
    width: 32px;
    margin: 0;
    padding: 0;
    background-color: rgb(184, 160, 56);
}

.header_btn_rock img {
    height: 20px;
    width: 20px;
    margin: 6px;
}

.header_btn_rock:hover {
    cursor: pointer;
    transform: scale(0.95);
}

.header_btn_steel {
    border: 2px outset black;
    height: 100%;
    width: 32px;
    margin: 0;
    padding: 0;
    background-color: rgb(184, 184, 208);
}

.header_btn_steel img {
    height: 20px;
    width: 20px;
    margin: 6px;
}

.header_btn_steel:hover {
    cursor: pointer;
    transform: scale(0.95);
}

.header_btn_water {
    border: 2px outset black;
    border-radius: 0 0 14px 0;
    height: 100%;
    width: 32px;
    margin: 0;
    padding: 0;
    background-color: rgb(104, 144, 240);
}

.header_btn_water img {
    height: 20px;
    width: 20px;
    margin: 6px;
}

.header_btn_water:hover {
    cursor: pointer;
    transform: scale(0.95);
}

.header_btn_bug.active {
    background-color: var(--bug);
}

.header_btn_dark.active {
    background-color: var(--dark);
}

.header_btn_dragon.active {
    background-color: var(--dragon);
}

.header_btn_electric.active {
    background-color: var(--electric);
}

.header_btn_fairy.active {
    background-color: var(--fairy);
}

.header_btn_fighting.active {
    background-color: var(--fighting);
}

.header_btn_fire.active {
    background-color: var(--fire);
}

.header_btn_flying.active {
    background-color: var(--flying);
}

.header_btn_ghost.active {
    background-color: var(--ghost);
}

.header_btn_grass.active {
    background-color: var(--grass);
}

.header_btn_ground.active {
    background-color: var(--ground);
}

.header_btn_ice.active {
    background-color: var(--ice);
}

.header_btn_normal.active {
    background-color: var(--normal);
}

.header_btn_poison.active {
    background-color: var(--poison);
}

.header_btn_psychic.active {
    background-color: var(--psychic);
}

.header_btn_rock.active {
    background-color: var(--rock);
}

.header_btn_steel.active {
    background-color: var(--steel);
}

.header_btn_water.active {
    background-color: var(--water);
}

.header_btn_water {
    border: 2px outset black;
    height: 100%;
    width: 32px;
    margin: 0;
    padding: 0;
}

.header_btn_left:hover,
.header_btn_mid:hover,
.header_btn_right:hover {
    cursor: pointer;
    transform: scale(0.95);
}

.header_btn_mid {
    border: 2px outset black;
    height: 100%;
}

.header_btn_right {
    border: 2px outset black;
    height: 100%;
    border-radius: 50px 0 0 50px;
}

nav {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#suggestions p:hover {
    background-color: #f0f0f0;
    color: #000;
    cursor: pointer;
}

.suggestion-item {
    margin: 0;
    padding: 12px;
    cursor: pointer;
    font-family: Arial, sans-serif;
    border-bottom: 1px solid #eee;
    transition: background 0.2s;
    color: #333;
}

.suggestion-item:hover {
    background-color: #f0f0f0;
    color: #000;
}

.suggestion-item.suggestion-active {
    background-color: #ddd !important; /* Highlight color - override hover if needed */
    color: #000;
}

#suggestions:empty {
    display: none;
}

.pokemon_card {
    /* height: 256px; */
    width: 200px;
    background-color: rgba(250, 250, 250, 0.9);
    /* margin: 8px 16px; */
    border-radius: 8px;
    border: 3px outset rgb(78 78 78);
    filter: drop-shadow(6px 6px 3px black);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.pokemon_card:hover {
    transform: scale(1.05);
}

.card_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-image: linear-gradient(45deg, rgb(156, 156, 156), rgba(225, 225, 225, 0.9)); */
    background-image: linear-gradient(45deg, rgba(225, 225, 225, 1.9), rgb(192, 178, 182) 61%, rgba(225, 225, 225, 0.9));
    filter: drop-shadow(4px 4px 2px black);
    height: 32px;
    margin-top: 8px;
    border-radius: 4px 12px 4px 12px;
    width: 180px;
}

.card_header h2 {
    padding-right: 12px;
}

.card_id {
    color: white;
    margin: 4px 0px 4px 12px;
    background-image: radial-gradient(#e7e7e7, rgba(0, 0, 0, 0.5) 60%);
    border-radius: 17px;
    padding: 1px 6px 1px 6px;
    width: 18px;
    height: 24px;
    text-align: center;
    border: 1px solid black;
}

.card_name {
    font-weight: 600;
    font-size: 20px;
    padding: 0;
    margin: 0;
    color: white;
    filter: drop-shadow(2px 3px 1px black);
}

.card_display {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px 16px 8px 16px;
    border-radius: 8px;
    border: 4px inset black;
    width: 80%;
    /* background-image: radial-gradient(rgba(93, 255, 60, 0.9), rgba(85, 148, 34, 0.9)); */
}

.card_display img {
    height: 96px;
    filter: drop-shadow(2px 4px 6px black);
    padding-bottom: 8px;
}

.card_body {
    border: 3px inset black;
    border-radius: 4px 12px 4px 12px;
    margin: 8px 16px;
    width: 180px;
    background-image: radial-gradient(white 62%, lightgray);
}
.card_body p {
    margin: 8px 8px;
}


.pokeball_img {
    height: 80px;
    width: 94px;
    margin-left: 32px;
    filter: drop-shadow(2px 4px 6px black);
}

.pokedex_text_img {
    width: 170px;
    margin: 0;
    filter: none;
}