@media  (max-width: 1100px) {
    
    header {

        height: 180px;
    }

    .header_nav {
        flex-direction: column-reverse;
    }

    #search_pokemon {
        margin-right: 0;
        margin-bottom: 8px;
        margin-top: 16px;
    }
}

@media  (max-width: 770px) {

    header {
        height: 270px;
    }

    .header_section {
        flex-direction: column;
    }
}

@media  (max-width: 640px) {

    .detail_card_border {
        position: fixed;
        top: 20%;
        left: 16%;
        height: 600px;
        width: 380px;
    }

    .details_card_display {
        height: 290px;
        width: 340px;
    }

    .overlay_img {
        height: 240px;
        top: 14%;
        left: 14%;
    }

    .overlay_body {
        font-size: 20px;
        height: 170px;
        width: 330px;
        top: 390px;
        left: 27px;
    }

    .navigation_buttons {
        top: 202px;
        left: 83px;
    }
}

@media  (max-width: 600px) {

    header {
        height: 240px;
    }

    #search_pokemon {
        margin: 0;
        margin-bottom: 8px;
    }

    #suggestions {
        top: 37px;
        right: 14px;
    }

    .header_title {
        height: 60px;
        margin-bottom: 16px;
    }

    .pokeball_img {
        height: 60px;
        width: 74px;
        margin-left: 0;
    }

    .pokedex_text_img {
        width: 140px;
        margin: 0;
    }
}

@media  (max-width: 550px) {

    .detail_card_border {
        position: fixed;
        top: 20%;
        left: 11%;
        height: 600px;
        width: 380px;
    }

    .details_card_display {
        height: 290px;
        width: 340px;
    }

    .overlay_img {
        height: 240px;
        top: 10%;
        left: 14%;
    }

    .overlay_body {
        font-size: 20px;
        height: 170px;
        width: 330px;
        top: 390px;
        left: 27px;
    }

    .navigation_buttons {
        top: 202px;
        left: 83px;
    }
}

@media  (max-width: 500px) {

    .detail_card_border {
        position: fixed;
        top: 20%;
        left: 8%;
        height: 600px;
        width: 380px;
    }

    .details_card_display {
        height: 290px;
        width: 340px;
    }

    .overlay_img {
        height: 240px;
        top: 10%;
        left: 14%;
    }

    .overlay_body {
        font-size: 20px;
        height: 170px;
        width: 330px;
        top: 390px;
        left: 27px;
    }

    .navigation_buttons {
        top: 202px;
        left: 83px;
    }
}

@media  (max-width: 470px) {

    .detail_card_border {
        height: 600px;
        width: 350px;
    }

    .details_card_display {
        height: 290px;
        width: 320px;
    }

    .overlay_body {
        height: 170px;
        width: 300px;
    }

    .navigation_buttons {
        top: 210px;
        left: 65px;
    }
}

@media  (max-width: 430px) {

    .detail_card_border {
        height: 600px;
        width: 310px;
    }

    .details_card_display {
        height: 290px;
        width: 285px;
    }

    .overlay_body {
        font-size: 18px;
        height: 170px;
        width: 265px;
    }

    .overlay_battlepoints {
        font-size: 22px;
        margin-right: 20px;
    }

    .navigation_buttons {
        left: 46px;
    }
}

@media  (max-width: 390px) {

    .detail_card_border {
        height: 610px;
        width: 280px;
        left: 6%;
    }

    .details_card_display {
        height: 312px;
        width: 254px;
    }

    .overlay_body {
        top: 394px;
        font-size: 18px;
        height: 170px;
        width: 235px;
        margin-top: 16px;
    }

    .overlay_header {
        justify-content: flex-start;
        flex-direction: column;
        height: 100px;
    }

    .overlay_header1 {
        width: 75%;
        margin-left: 8px;
    }

    .overlay_header2 {
        border-radius: 12px 8px 50px 12px;
        justify-content: flex-start;
        width: 60%;
        margin-bottom: 10px;
        margin-left: 8px;
    }

    .overlay_header2 p {
        margin-left: 8px;
    }

    .overlay_battlepoints {
        font-size: 20px;
    }

    .overlay_img {
        height: 212px;
        top: 30%;
        left: 8%;
    }

    .navigation_buttons {
        left: 32px;
    }
}

@media  (max-width: 360px) {

    .detail_card_border {
        height: 640px;
        width: 250px;
        left: 6%;
    }

    .details_card_display {
        height: 350px;
        width: 226px;
    }

    .overlay_body {
        font-size: 18px;
        height: 170px;
        width: 204px;
        margin-top: 56px;
    }

    .overlay_header {
        flex-direction: column;
    }

    .overlay_battlepoints {
        font-size: 20px;
    }

    .overlay_img {
        left: 5%;
        top: 38%;
    }

    .navigation_buttons {
        left: 13px;
        width: 100%;
    }
}

