@media  (max-width: 600px) {
    header {
        flex-direction: column;
    }

    #search_pokemon {
        margin: 0;
        margin-bottom: 8px;
    }

    .header_title {
        margin-top: 16px;
    }

    .pokeball_img {
        height: 60px;
        width: 74px;
        margin-left: 0;
    }

    .pokedex_text_img {
        width: 140px;
        margin: 0;
    }
}

@media  (max-width: 500px) {

    #overlay {
        display: flex;
        align-items: center;
    }

    .detail_card_border {
        width: 318px;
        position: absolute;
        top: 30%;
        left: 0;
    }

    .overlay_img {
        position: absolute;
        top: 15%;
        left: 0;
    }

    .details_card_background {
        width: 310px;
    }
}