@media  (max-width: 640px) {
    .detail_card_border {
        position: fixed;
        top: 20%;
        left: 16%;
        height: 540px;
        width: 380px;
    }

    .details_card_display {
        height: 290px;
        width: 340px;
    }

    .overlay_img {
        height: 240px;
        top: 10%;
        left: 14%;
    }

    /* .overlay_header2 {
        height: 55px;
        top: 6px;
        right: 5px;
    } */

    .overlay_body {
        font-size: 20px;
        height: 170px;
        width: 330px;
        top: 340px;
        left: 27px;
    }

    .navigation_buttons {
        top: 202px;
        left: 83px;
    }
}

@media  (max-width: 600px) {

    header {
        height: 143px;
    }

    .header_section {
        flex-direction: column;
    }

    #search_pokemon {
        margin: 0;
        margin-bottom: 8px;
    }

    #suggestions {
        top: 37px;
        right: 14px;
    }

    .header_title {
        margin: 16px;
    }

    .pokeball_img {
        height: 60px;
        width: 74px;
        margin-left: 0;
    }

    .pokedex_text_img {
        width: 140px;
        margin: 0;
    }
}

@media  (max-width: 550px) {
    .detail_card_border {
        position: fixed;
        top: 20%;
        left: 11%;
        height: 540px;
        width: 380px;
    }

    .details_card_display {
        height: 290px;
        width: 340px;
    }

    .overlay_img {
        height: 240px;
        top: 10%;
        left: 14%;
    }

    /* .overlay_header2 {
        height: 55px;
        top: 6px;
        right: 5px;
    } */

    .overlay_body {
        font-size: 20px;
        height: 170px;
        width: 330px;
        top: 340px;
        left: 27px;
    }

    .navigation_buttons {
        top: 202px;
        left: 83px;
    }
}

@media  (max-width: 500px) {
    .detail_card_border {
        position: fixed;
        top: 20%;
        left: 8%;
        height: 540px;
        width: 380px;
    }

    .details_card_display {
        height: 290px;
        width: 340px;
    }

    .overlay_img {
        height: 240px;
        top: 10%;
        left: 14%;
    }

    /* .overlay_header2 {
        height: 55px;
        top: 6px;
        right: 5px;
    } */

    .overlay_body {
        font-size: 20px;
        height: 170px;
        width: 330px;
        top: 340px;
        left: 27px;
    }

    .navigation_buttons {
        top: 202px;
        left: 83px;
    }
}

@media  (max-width: 470px) {

    .detail_card_border {
        height: 544px;
        width: 350px;
    }

    .details_card_display {
        height: 290px;
        width: 320px;
    }

    .overlay_body {
        height: 170px;
        width: 300px;
    }

    .navigation_buttons {
        top: 210px;
        left: 65px;
    }
}

@media  (max-width: 430px) {

    .detail_card_border {
        height: 544px;
        width: 310px;
    }

    .details_card_display {
        height: 290px;
        width: 285px;
    }

    .overlay_body {
        font-size: 18px;
        height: 170px;
        width: 265px;
    }

    .navigation_buttons {
        left: 46px;
    }
}

@media  (max-width: 390px) {

    .detail_card_border {
        height: 560px;
        width: 280px;
    }

    .details_card_display {
        height: 312px;
        width: 254px;
    }

    .overlay_body {
        font-size: 18px;
        height: 170px;
        width: 235px;
        margin-top: 16px;
    }

    .overlay_header {
        justify-content: flex-start;
        flex-direction: column;
        height: 100px;
    }

    .overlay_header1 {
        width: 75%;
        margin-left: 8px;
    }

    .overlay_header2 {
        border-radius: 12px 8px 50px 12px;
        justify-content: flex-start;
        width: 60%;
        margin-bottom: 10px;
        margin-left: 8px;
    }

    .overlay_header2 p {
        margin-left: 8px;
    }

    .overlay_battlepoints {
        font-size: 20px;
    }

    .overlay_img {
        height: 212px;
        top: 21%;
        left: 8%;
    }

    .navigation_buttons {
        left: 32px;
    }
}

@media  (max-width: 360px) {

    .detail_card_border {
        height: 544px;
        width: 280px;
    }

    .details_card_display {
        height: 290px;
        width: 254px;
    }

    .overlay_body {
        font-size: 18px;
        height: 170px;
        width: 235px;
    }

    .overlay_header {
        flex-direction: column;
    }

    .overlay_battlepoints {
        font-size: 20px;
    }

    .overlay_img {
        left: 3%;
    }

    .navigation_buttons {
        left: 32px;
    }
}

