.pokemon-type-fighting {
    background-color: #C22E28;
}

.pokemon-type-poison {
    background-color: #A33EA1;
}

.pokemon-type-ground {
    background-color: #E2BF65;
}

.pokemon-type-flying {
    background-color: #A98FF3;
}

.pokemon-type-psychic {
    background-color: #F95587;
}

.pokemon-type-bug {
    background-color: #A6B91A;
}

.pokemon-type-rock {
    background-color: #B6A136;
}

.pokemon-type-ghost {
    background-color: #735797;
}

.pokemon-type-dragon {
    background-color: #6F35FC;
}

.pokemon-type-dark {
    background-color: #705746;
}

.pokemon-type-steel {
    background-color: #B7B7CE;
}

.pokemon-type-fairy {
    background-color: #D685AD;
}